<div id="footerwrap">
    <div class="container">
        <div class="row">
             <!-- <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div> -->
            <div class="col-lg-4">
                <h4>Around the Web</h4>
                <div class="hline-w"></div>
                <p>
                    <a class="btn btn-social-icon btn-linkedin" href = "https://www.linkedin.com/in/saurabhkulkarni2312">
                        <span class="fa fa-linkedin"></span>
                    </a>
                    <!--<a class="linkedin-button" href="https://www.linkedin.com/in/saurabhkulkarni2312" class="btn-linkedin btn-outline" aria-label="@saurabhkulkarni2312 on LinkedIn">LinkedIn</a>-->
                    <a class="github-button" href="https://github.com/saurabhkulkarni2312" data-style="mega" aria-label="Follow @saurabhkulkarni2312 on GitHub">GitHub</a>
                    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>My Bunker</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Credits</h4>
                <div class="hline-w"></div>
                <p>
                    This site is based on the Solid theme <br>
                    created by blacktie.co
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->