---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-xs-12 col-md-8">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-xs-6 col-md-4">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <p><b>Date:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Categories:</b> {{ page.categories }}</p>
            <p><b>Tags:</b> {{ page.tagged }}</p>
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
    </div><!--/row -->
</div><!--/container -->
	 
{% include portfolio.html title="Other Works" limit=5 %}